* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  line-height: 1.6;
  min-height: 100vh;
}

/* ================================= 
        Header Starts
==================================== */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}

.header a {
  text-decoration: none;
  color: #FCF6F5FF;
}



.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;

}

.logo a,
.main-nav a {
  margin: 0 5px;
  padding: 6px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #FCF6F5FF;
  font-size: .99em;
}

.main-nav a:hover {
  border: 2px solid #9ddfed;
  border-radius: 13%;
}

.header {
  overflow: hidden;
  padding-top: .5em;
  padding-bottom: .5em;
  border: 1px solid #a2a2a2;
  background-color: #89ABE3FF;
}


.about {
  height: 750px;
  width: 100%;
  padding: 0;
  background-color: #89ABE3FF;
}

.about img {
  height:450px;
  width: 650px;
  padding: 25px 0px;
}

.about-text {
  width: 550px;
  color: #fff;
  font-family: sans-serif;
}

.about-text h1 {
  line-height: 60px;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.main {
  height: 550px;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text p {
  color: #d9d9d9;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 35px;
  margin-bottom: 30px;
}

button {
  background: #9ddfed;
  color: #fafafa;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 30px;
  transition: .3s;
}

button:hover {
  background: transparent;
  border: 2px solid #9ddfed;
  cursor: pointer;
}

/* ================================= 
        Header Ends
==================================== */


/* ================================= 
         About Starts
==================================== */

.container {
  width: 100%;
  padding: 20px 0;
}

.container h2 {
  margin-top: 4rem;
  font-size: 42px;
  text-align: center;
  color: #2d5faf;
  text-transform: capitalize;
  text-overflow: hidden;
}

.text-area {
  height: 200px;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text1,
.text2 {
  padding: 10px 30px;
  letter-spacing: 0.5px;
  font-size: 17px;
  color: #575252;
}


/* ================================= 
         About Ends
==================================== */

/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {

  .header,
  .main-nav {
    display: flex;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

}